body {
    background-color: #FFDFD3;
}
.menu {
    width: 100%;
    height: 60px;
    margin-bottom: 0px;
}
.menu button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 150px;
    background-color: #E0BBE4;
    border: none;
    border-radius: 10px;
}
.menu button p {
    position: relative;
    bottom: 7px;
    right: 20px;
    text-align: center;
    font-size: 15px;
    font-family: inherit, Times, serif;
    font-weight: bold;
}
.menu img {
    position: relative;
    height: 30px;
    width: 30px;
    bottom: 45px;
    left: 35px;
}

.gallery {
    margin: 25px;
    margin-left: 70px;
    height: 220px;
    width: 200px;
    border: 1px solid #ccc;
    float: left;
}
  
.gallery img {
   width: 200px;
   height: 150px;
}
.img:hover {
    transform: scale(1.5);
}
  
div.desc {
  padding: 15px;
  text-align: center;
  margin-bottom: 2px;
}
.your_sign {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(115, 6, 165);
}
.enter {
    margin-top: 40px;
}
.enter h1 {
    position: relative;
    font-size: 40px;
    color: rgb(115, 6, 165);
    top: 50px;
}
.enter label {
    font-size: 25px;
    color: rgb(115, 6, 165);
}
.enter input {
    height: 35px;
    width: 95px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #f2d7f5;
}
.your_sign button {
    height: 60px;
    width: 160px;
    border-radius: 20px;
    margin-top: 50px;
    background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
    color: purple;
   font-size: 20px;
  padding: 6px 22px;
}
#zodiac_here {
    text-align: center;
    margin-top: 15px;
}